@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #90c9ff;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button, input {
    font-family: inherit;
    outline: none;
    border: none;
}
.border-rad {
    border-radius: 7px;
}
.place-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h-line {
    height: 1px;
    background-color: white;
    margin-bottom: 18px;
}
.dis-none {
    display: none;
}
.wrapper {
}
.wrap-search {
}
.block-search {
    background-color: white;
    width: 400px;
    height: 250px;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    border-radius: 7px;
    background-color: #293251;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.search__title {
    font-weight: 600;
    font-size: 24px;
    color: white;

    margin-bottom: 15px;
}
.search__input {
    text-align: center;
    height: 50px;
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 15px;
    transition: transform .3s linear;
}
.search__input:where(:hover, :active, :focus) {
    transform: scale(1.05);
}
.search__button {
    height: 50px;
    color: white;
    background-color: #97c9eb;
    font-size: 16px;
    transition: all .3s linear;
}
.search__button:where(:hover, :focus) {
    color: #8789C0;
    background-color: white;
    font-weight: 600;
}



.wrap-result {
}
.block-result {
    background-color: #f3f9fe;
    width: 400px;
    border-radius: 9px;
    overflow: hidden;
    text-align: center;
    color: #636363;
}
.result-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;    
    background-color: white;
}
.result-header img { 
    cursor: pointer;
}
.header__title {
    color: #989b9a;   
}
.degree-view {
    margin-top: 35px;
}
.degree {
    font-weight: 500;
    font-size: 50px;    
}
.city {
}
.position {
}
.details {
    display: flex;
    width: 350px;
    margin: 20px auto;
    text-align: center;
    padding: 10px; 
}
.box-details {  
    width: 100px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.details__num {
    font-weight: 500;
    font-size: 20px;
    color: #b2d5ef;
    margin-bottom: 5px;
}
.details__text {
    font-weight: 400;
    font-size: 11px;
    color: #888;
}
.wind {
}
.feels_like {
}
.humidity {
}